/* F9DBBA= 5B99C2= 1A4870= 1F316F */


@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
header
{
    background-color: #F9DBBA;
    width: 100%;
    padding: 10px 200px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 3px 5px lightblue;
}
.logo
{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    color: black;
}
.logo span
{
    color: #D21312;
}
.list a
{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 30px;
}
.list a:hover
{
    color: #5B99C2;
}